<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>art.bstew.mindbell</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/bradstewart/repositories/__personal__/mindbell/dist/MindBell.app/Contents/MacOS/MindBell</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>StandardOutPath</key>
    <string>/tmp/mindbell.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/mindbell.error.log</string>
</dict>
</plist>